<!-- <h1>Login Form</h1>

<form [formGroup]="loginForm" (ngSubmit)="isLogin()" *ngIf="!(isLoggedIn$ | async)">
        <input type="text" formControlName="username">
        <br>
        <br>
        <input type="password" formControlName="password">
        <br>
        <br>
        <button type="submit">Login</button>
</form>

<button *ngIf="(isLoggedIn$ | async)" (click)="logout()">Logout</button>

<h1>Below is based on router we will go to the pages</h1>


<a routerLink="/github-users">Go to github users</a>

<router-outlet></router-outlet> -->

<nav class="navbar navbar-inverse">
        <div class="container">
                <div class="navbar-header">
                        <div class="navbar-brand">GitHub Users API APP</div>
                </div>
                <ul class="nav navbar-nav" *ngIf="(isLoggedIn$ | async)">
                        <li class="active" >
                                <a routerLink="/github-users">Dashboard</a>
                        </li>                        
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li>
                                <form class="form-inline" [formGroup]="loginForm" (ngSubmit)="isLogin()" *ngIf="!(isLoggedIn$ | async)">
                                        <div class="form-group">
                                                <label for="username">Username:</label>
                                                <input type="text" class="form-control" id="username" formControlName="username">
                                        </div>
                                        <div class="form-group">
                                                <label for="pwd">Password:</label>
                                                <input type="password" class="form-control" id="pwd" formControlName="password">
                                        </div>
                                        <div class="alert alert-danger"  *ngIf="( loginForm.get('username').dirty || loginForm.get('username').touched) && loginForm.get('username').errors && loginForm.get('username').errors['required']" >
                                                username is required
                                        </div>
                                        <div class="alert alert-danger"  *ngIf="( loginForm.get('password').dirty || loginForm.get('password').touched) && loginForm.get('password').errors && loginForm.get('password').errors['required']" >
                                                password is required
                                        </div>
                                        <div class="alert alert-danger" *ngIf="!(isLoggedIn$ | async) && submitted">
                                                Invalid username or password
                                        </div>                                                                                
                                        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!loginForm.valid">Login</button>
                                </form>
                        </li>
                        <li>
                                <button class="btn btn-info" *ngIf="(isLoggedIn$ | async)" (click)="logout()">Logout</button>
                        </li>                        
                </ul>
        </div>
</nav>

<router-outlet></router-outlet>